
.app-container{
    color: black;
}
/* Add these styles to your layout.css or create a separate CSS file for it */
.dropdown-icon {
    margin-left: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content.open {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .coffee-info-dropdown{
    margin-top: 17px;
    margin-left: 60px;
  }
  /* nav{
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
  } */
  
  .auth{
    display: flex;
   
  } 

  .authl {
    background-color:  rgb(148, 242, 176);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .auths{
    
      background-color:  rgb(148, 242, 176);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      width: 100px;
      height: 50px;
      border-radius: 10px;
      font-size: 17px;
      margin-bottom: 20px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      margin-right: 140px;
  }
  
  .ll, .ls {
    text-decoration: none;
    color: black;
    margin-right: 60px;
  }

  .logof{
    /* width: 80px;
    height: 70px; */
    background-color: white;
    border-radius: 50%;
    /* margin-bottom: 50px; */
    max-width: 100%; /* Set the maximum width to 100% to make the image fit within its container */
    height: auto;
    margin-right: 150px;
  }
  
  .me{
    margin-right: 650px;
  }
  /* Style for LinkedIn icon */
.linkedin img {
  display: flex;
  flex-direction: column;
  width: 30px; /* Set the width to your desired size */
  height: 30px; /* Set the height to your desired size */
}

/* Style for Twitter icon */
.twitter img {
  display: flex;
  flex-direction: column;
  width: 30px; /* Set the width to your desired size */
  height: 30px; /* Set the height to your desired size */
}

/* Style for GitHub icon */
.github img {
  display: flex;
  flex-direction: column;
  width: 70px; /* Set the width to your desired size */
  height: 40px; /* Set the height to your desired size */
  margin-right: 20px;
}
/* Style for LinkedIn icon */
.linkedin a {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
  text-decoration: none; /* Remove underlines from links */
  color: #000; /* Set the color of the text */
}

.icons{
  display: flex;
}

/* Style for Twitter icon */
.twitter a {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
  text-decoration: none; /* Remove underlines from links */
  color: #000; /* Set the color of the text */
}

/* Style for GitHub icon */
.github a {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
  text-decoration: none; /* Remove underlines from links */
  color: #000; /* Set the color of the text */
}

footer{
  display: flex;
  flex-direction: column;
}
.foot{
  display: flex;
  justify-content: space-between;
}

.copy{
  margin-top: 30px;
  color: rgb(8, 8, 8);
}