.coffee-info-dropdown {
  position: relative;
}

.dropdown-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-link a {
  text-decoration: none;
}

.dropdown-icon {
  margin-left: 5px; /* Adjust the margin as needed */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: black;
}

.coffee-info-dropdown:hover .dropdown-content {
  display: block;
}

.coffee-info-dropdown:hover .dropdown-icon {
  display: none;
}
